
.app {
  background-color: white;
}
@media screen and (min-width: 992px) {
    .landing_container{
        max-width: 960px;
    }
}
@media screen and (min-width: 768px) {
    .landing_container{
        max-width: 720px;
    }
}
@media screen and (min-width: 576px) {
    .landing_container{
        max-width: 540px;
    }
}
    


